---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  # readability-*,
  -modernize-use-trailing-return-type,
  -google-runtime-references,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -llvm-header-guard,
  -google-readability-braces-around-statements,
  -readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -google-readability-todo,
  -llvm-namespace-comment,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: >
  bugprone-use-after-move,
  cert-dcl21-cpp,
  cert-dcl58-cpp,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  google-default-arguments,
  google-explicit-constructor,
  google-runtime-operator,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-deleted-default,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-qualified-auto,
  readability-redundant-control-flow,
  readability-redundant-function-ptr-dereference,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-string-compare

HeaderFilterRegex: '.*'

CheckOptions:

  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.NamespaceCase: CamelCase

  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack

  readability-identifier-naming.ConstantCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

  # readability-identifier-naming.MemberPrefix: '_'
  # readability-identifier-naming.PrivateMemberPrefix: '_'
  # readability-identifier-naming.ProtectedMemberPrefix: '_'

  cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: '1'
  google-readability-function-size.StatementThreshold: '800'
  google-readability-namespace-comments.ShortNamespaceLines: '10'
  google-readability-namespace-comments.SpacesBeforeComments: '2'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: '1'
  modernize-loop-convert.MaxCopySize: '16'
  modernize-loop-convert.MinConfidence: reasonable
  modernize-pass-by-value.IncludeStyle: llvm
  modernize-replace-auto-ptr.IncludeStyle: llvm
  modernize-use-nullptr.NullMacros: 'NULL'
  performance-faster-string-find.StringLikeClasses: 'std::basic_string'
  performance-for-range-copy.WarnOnAllAutoCopies: '0'
  readability-braces-around-statements.ShortStatementLines: '1'
  readability-function-size.LineThreshold: '200'
  readability-function-size.ParameterThreshold: '5'
  readability-implicit-bool-conversion.AllowIntegerConditions: '1'
  readability-implicit-bool-conversion.AllowPointerConditions: '1'
